.Account {
    color: white;
}

.main-buttons {
    display: flex;
    gap: 20px;
}

.main-buttons a {
    cursor: pointer;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
}