.Account {
    color: white;
}

.tabs {
    display: flex;
    gap: 20px;
}

.tabs a {
    cursor: pointer;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
}