.Account {
    color: white;
}

.tabs {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin-top: 50px;
}

.tabs a {
    cursor: pointer;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
}

.left_pannel {
    height: 100vh;
    width: 300px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
}

.workspace {
    display: flex;
    flex-direction: row;
}