.Account {
    color: white;
}

.tabs {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin-top: -500px;
}

.tabs a {
    cursor: pointer;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
}

.left_pannel {
    height: 100vh;
    width: 300px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logout_button button {
    margin: 20px;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.workspace {
    display: flex;
    flex-direction: row;
}

.profile {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}