.Account {
    color: white;
}

.tabs {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.tabs a {
    cursor: pointer;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
}

.left_pannel {
    height: 100vh;
    width: 300px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    position: static;
    overflow-y: auto;
    padding: 20px 0;

}

.logout_button {
    margin-bottom: 20px;
    margin-top: auto;
}

.logout_button button {
    margin: 20px;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.workspace {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.profile {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.current_tab {
    flex: 1;
}