.table-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20vw;
    max-width: 100vw;
    margin-left: 130px;
}

.table-item h2 {
    flex: 1;
    text-align: center;
    padding: 10px;
    min-width: 120px;
}

.order-card {
    background-color: white;
    width: calc(100% - 20px);
    color: black;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    margin-top: 30px;
}

.table {
    margin-left: 130px;
    max-width: 100vw;
}