.table-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20vw;
}

.table-item h2 {
    flex: 1;
    text-align: center;
    padding: 10px;
    min-width: 120px;
}

.table {
    text-align: center;
}