.table-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 равные колонки */
    width: 100%;
    gap: 300px; /* Этот gap будет уменьшаться */
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.table-items h1 {
    text-align: center;
    min-width: 0;
    white-space: nowrap;
    flex: 1;
    margin: 0 clamp(5px, 2vw, 50px);
}

.header-h1 {
    text-align: center;
}