.form {
    width: 438px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.form-window {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

form input {
    height: 56px;
    width: 387px;
    font-size: 26px;
}


.go-btn {
    width: 175px;
    height: 55px;
    background-color: #17331F;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 10px;
}

form p {
    color: red;
    margin: 0; /* Remove default margin */
}

.error {
    min-height: 30px; /* Минимальная высота для стабильности */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
}


.form a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}