header {
    background-color: #D9D9D9;
    width: 1795px;
    height: 107px;
    padding-left: 97px;
    display: flex;
    align-items: center;
    margin: 42px auto 0;
    border-radius: 20px;
    gap: 16px;
}